<main>
  <section class=" text-center loginSection">
    <div class="loginDiv">
      <span class="logo"></span>
      <h1 class="loginTitle">Recovery Password</h1>
      <form class=" p-5 loginForm" id="forgotrecovery">
        <label>Nueva Contraseña</label>
        <input type="password" name="password" />
        <button type="submit">Restableser</button>
      </form>
          
     </div>
  </section>
      <div class="text-center" >
        <button >
           <a href="/login" style="margin: 20px 0; color: #080808;">Login</a>
        </button>
      <button id="recuperar">
        <a href="/forgotPassword" style="margin: 20px 0; color: #080808;">Restablecer Contraseña</a>
      </button>
      </div>
</main>
<script src="/js/forgotrecovery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
