<main>
  <section class=" text-center loginSection">
    <div class="loginDiv">
      <span class="logo"></span>
      <h1 class="loginTitle">Recovery Password</h1>
      <form class=" p-5 loginForm" id="forgotPassword">
        <label>Email</label>
        <input type="email" name="email" />
        <button type="submit">Enviar</button>
      </form>
          
     </div>
  </section>
      <div class="text-center" >
        <button >
           <a href="/login" style="margin: 20px 0; color: #080808;">Login</a>
        </button>
      </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/forgotPassword.js"></script>