<main>
    <h1>Delete Users</h1> 
        <div>{{users}}</div>
       {{#each users}}
                   
         <div>{{users.firstName}}</div>
          
        {{/each}}       
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/deleteUserIdile.js"></script>