<main class="container-fluid m-3">
  <section class="registerSection">
    <div class="registerDiv">
      <span class="logo"></span>
      <h1 class="registerTitle">Register</h1>
      <form class="registerForm" id="registerForm">
        <label>Nombre</label>
        <input type="text" name="firstName" />
        <label>Apellido</label>
        <input type="text" name="lastName" />
        <label>Edad</label>
        <input type="numer" name="edad" />
        <label>Correo electrónico</label>
        <input type="email" name="email" />
        <label>Contraseña</label>
        <input type="password" name="password" />
        <button class="registerButton" type="submit">Register</button>
      </form>
    </div>
  </section>
  <div class="text-center p-5" >
        
        <button >
           <a href="/login" style="margin: 20px 0; color: #080808;">ir Login</a>
        </button>
  </div>
      
</main>

<script src="./js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>